/.idea
/*.json
/*.iml
/logs
/results
/tests/results
/resources/supervisor/etl.conf.alt
/resources/aws/prices.json
*.svn
*.pyc
nohup.out
log.txt
/resources/binaries/jre-8u131-linux-x64.rpm
/tests/resources/mochitest_chunk_2
