/.idea
/*.json
/*.iml
/pyLibrary/.svn
/mo_hg/.svn
/pyLibrary/*.pyc
/vendor
/results
/pyLibrary/collections/*.pyc
*.pyc
nohup.out
log.txt
/*.tab
/elasticsearch.yml
/resources/elasticsearch/*.yml
/tests/results
/resources/supervisor/etl.conf.alt
/resources/aws/prices.json
/mozillapulse/.svn
/resources/settings/raptor_settings.json
/activedata_etl/raptor.py
/mo_hg/.svn
/activedata_etl/imports/gcov.py
/tests/resources/mochitest_chunk_2
/resources/binaries/jre-8u131-linux-x64.rpm
/logs
