/.idea
/*.json
/*.iml
/logs
/results
/tests/results
/resources/supervisor/etl.conf.alt
/resources/aws/prices.json
*.svn
*.pyc
nohup.out
log.txt
/tests/resources/mochitest_chunk_2
/tuid.sqlite
/vendor/pyLibrary/vendor/sqlite
*.sqlite
/*.tab
/result/output.txt
/resources/binaries
